@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); //Ubuntu font

$fonts: Ubuntu, system-ui, Arial, sans-serif;
@mixin darkTheme() {
  --theme: dark;
  --theme-color: rgba(255, 255, 255, 0.87);
  --theme-background-color: rgba(26, 26, 26, 1);
  --theme-border: rgba(255, 255, 255, 0.12) 1px solid;
  --theme-subtext-color: rgba(255, 255, 255, 0.50);
  --theme-panel-background-color: rgba(0, 0, 0, 0.19);
  --theme-divider-border-color: rgba(255, 255, 255, 0.12);
}
@mixin lightTheme() {
  --theme: light;
  --theme-color: rgba(0, 0, 0, 0.87);
  --theme-background-color: rgba(229, 229, 229, 1);
  --theme-border: rgba(0, 0, 0, 0.12) 1px solid;
  --theme-subtext-color: rgba(0, 0, 0, 0.50);
  --theme-panel-background-color: rgba(255, 255, 255, 0.31);
  --theme-divider-border-color: rgba(0, 0, 0, 0.12);
}

@mixin themeText(){
  color: var(--theme-color);
  font-family: $fonts;
}

.subText {
  color: var(--theme-subtext-color);
}

.smallSubText{
  @extend .subText;
  font-size: 0.75rem;
}


:root {
  @include darkTheme; //Default theme

  @include themeText;
  background-color: var(--theme-background-color);
}

$header-height: 1rem;
html body {
  padding-top: 5 * $header-height;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: $header-height 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-panel-background-color);
}

.container {
  background-color: var(--theme-panel-background-color);
  border-radius: 1rem;
  padding: 1rem;
}

.divider {
  border-color: var(--theme-divider-border-color);
  margin: 1rem 0;
}

.colorModeIcon {
  color: var(--theme-color);
}

.dropdown {
  [class*="MuiAutocomplete-"]{
    @include themeText;
  }
  [class*="MuiFormLabel-"]{
    @include themeText;
  }
  [class*="MuiFormControl-"]{
    @include themeText;
  }
  [class*="MuiInput-"]:after{
    @include themeText;
    border-bottom: var(--theme-border);
  }
  [class*="MuiInput-"]:before{
    @include themeText;
    border-bottom: var(--theme-border);
  }
}
